@font-face
{
    font-family: "Ramona Bold";
    font-weight: normal;
    font-style: normal;

    src: url("ofont.ru_Ramona.ttf");
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, head, body, #main
{
    width: 100%;
    min-height: 100vh;
}

body
{
    font-family: "Ramona Bold", normal;

    color: #FFFFFF;
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 1);

    image-rendering: pixelated;
}

.flex-flow {
    display: flex;
    flex-flow: row nowrap;
}
#content
{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;

    flex-flow: column nowrap;
    justify-content: center;
}

#main
{
    animation: backgroundAnimate 60s linear infinite;

    background-image: url("background.gif");
    background-attachment: fixed;
    background-position: 0 center;
    background-size: auto 110%;
    margin-right: 20%;

    background-repeat-y: no-repeat;
}

@keyframes backgroundAnimate
{
    from
    {
        background-position: 0 center;
    }
    50%
    {
        background-position: 100 center;
    }
    to
    {
        background-position: 0 center;
    }
}

.telega {
  color: black;
  background-color: white;
  border: none;
  border-radius: 2px;
  border-width: 2px;
  border-color: white;
  padding: 10px 20px 10px 20px
}

.iconwc {
  position: absolute;
  margin-top: 102px;
  margin-left: 135px;
  height: 40px;
  width: 40px;
}

#counter {
  margin-left: 170px;
}

.first
{
    display: flex;
    position: sticky;
    top: 0;
    padding: 25px;

    flex-flow: column nowrap;
    flex-grow: 10;
}

.second
{
    height: 100%;
    padding: 25px;

    flex-grow: 1;
    margin-top: -150px;
}


.b-wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: sticky;
    top: 0;
    left: 0;
}

.b-one {
    padding: 25px 40px;
    display: flex;
    flex-flow: column nowrap;
}

.b-one h1 {
    margin-right: 25px;
    flex-grow: 1;
}

.bonus::after
{
    position: absolute;
    content: '';
    top: -20px;
    left: -5;
    height: 30px;
    width: calc(100% + 10px);
    background-size: auto 90%;
    border-radius: 9px;
}
.b-one, .b-four {
    min-width: 400px;
}

.b-one h1, .b-four h1
{
    /* width: 100%; */
}

.b-four {
    flex-grow: 1;
}

.b-two
{
    display: flex;

    align-items: center;
    flex-flow: row wrap;
    justify-content: center;;

    position: sticky;
    top: 100px;
}

#button
{
    position: sticky;
    top: 200px;

    width: 100%;
    height: 500px;
    margin: 100px 25px;

    cursor: pointer;

    background-image: url("whitecoin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 10px 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}


.button-vfx
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    
    background-image: url("whitecoin.png");
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bunus-vfx
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    filter: grayscale(1);
}

.bonus
{
    position: relative;

    display: flex;

    margin-bottom: 25px;
    padding: 20px 20px 20px 45px;

    cursor: pointer;

    border-radius: 0px;
    background-color: #4a4a4a;
    background-position: 90%;
    background-size: 500px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    border-radius: 10px;
}

.bonus:hover {
  background-color: #2b2b2b;
  border-radius: 30px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.bonus > h2 {
    margin-bottom: 10px;
    align-self: flex-start;
}
.bonus > p {
    font-size: 15px;
    align-self: flex-start;
}

#counter, #factor, #background
{
    font-size: 38px;

    padding-left: 10px;
}

@media screen and (max-width: 1224px)
{
    .second
    {
        max-width: 550px;
    }
}

@media screen and (max-width: 1024px)
{
    .b-one, .b-four, .bonus > p {
        font-size: 16px;
    }
    .b-one, .b-four {
        padding: 25px 45px 20px 45px;
    }
    .b-one h1, .b-four h1 {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #counter, #factor, #background {
        font-size: 33px;
    }
    #button {
        margin: 25px;
    }
    .b-one, .b-four {
        width: 100%;
        min-width: auto !important;
    }
    .first, .b-wrapper {
        height: 100%;
        position: static;
    }
    #content, .b-wrapper, .flex-flow {
        flex-flow: column nowrap;
    }
    .second {
        margin-top: 0;
        width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 768px)
{
    .second {
        padding: 25px 0;
    }
}

@media screen and (max-width: 576px)
{
    #button {
        margin: 0 25px;
        margin-top: 25px;
    }
    .b-one, .b-four
    {
        width: 100%;
    }
    .b-one h1, .b-four h1 {
        overflow: hidden;
    }
    .b-one h1, .b-one span, .b-four h1, .b-four span
    {

    }
    .b-one h1, .b-four h1
    {
        font-size: 23px;
    }
    #counter, #factory
    {
        font-size: 28px;
    }
}

#counter {
  font-size: 50px;
}

@media screen and (max-width: 476px) {
    .b-one h1 {
        font-size: 16px;
    }
    .b-one span {
        font-size: 18px;
    }
}
